
* {
    box-sizing: border-box;
}

.navbar h1 {
    color: white;
    margin: auto;
}

  /* Style the search field */
.search-city input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
.search-city button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
.search-city button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
.search-city::after {
    content: "";
    clear: both;
    display: table;
  }

.app {
    margin-top: 15px;
}

.card-title, .card-header {
    margin: 0px -16px;
}

.city-list {
    margin-top: 20px;
}

#city-input {
    background-color: white;
}

.city-list li{
    background-color: white;
    border: 1px solid rgba(128,128,128,0.3);
    margin-left: -39px;
    padding: 10px 10px 10px 20px;
}

.search-list {
    background-color: rgba(211,211,211,0.3);
}
.jumbotron {
    background-color: white;
    border: 1px solid black;
}

.forecast-header {
    float: left;
    margin-left: 5px;
    background-color: #0b7dda;
    color: white;
    padding: 15px;
}

.idx-0 {
    margin-left: 0px;
}
